<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROGMOD2</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">

    <div>
        <h1>Programozás Módszertana 2 beadandó</h1>
    </div>
    <table style="border-spacing: 40px; border: 1pt solid black;" class="table">
            <td data-th-text="${activity.id}">...</td>
            <td data-th-text="${activity.activityType}">...</td>
            <td data-th-text="${activity.title}">...</td>
            <td data-th-text="${activity.description}">...</td>
            <td data-th-text="${activity.startDate}">...</td>
            <td data-th-text="${activity.endDate}">...</td>
        </tr>
    </table>
    <table class="table">
        <td data-th-text="${activityLength}">...</td>
        </tr>
    </table>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>